
html, body {
  margin: 0;
  height: 100%; /* Garante que a altura da página seja 100% */
}
.container-all{
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Faz com que a página ocupe toda a altura da tela */
}
.example-spacer {
    flex: 1 1 auto;
}
.logo {
    margin-right: 25px;
    height: 60%;
    
}
  
.search-bar { /*caixa de pesquisar*/
    margin-top: 20px;
    width: 50%;
    max-width: 600px;
}
.header-green {
  font-size: 15px;
   justify-content: space-evenly;
    background-color: #84a98c; /* Cor verde do Material Design */
    color: white; /* Cor do texto para contraste */
}
  
mat-menu {
    font-size: 14px;
}
button, a {
    margin-left: 10px;
    color: rgb(10, 10, 10);
}

#menuap{
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.footer {
   position: relative;  /* Deixa o footer em sua posição natural */
    width: 100%; /* O footer ocupa toda a largura da página */
    bottom: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* Espaçamento entre os itens */
    margin-top: 100px;
}
  
.spacer {
    flex: 1;
}
  
footer {
   position: relative; /* Mantém o footer na posição normal */
    width: 100%; /* O footer ocupa toda a largura da página */
    padding: 10px;
}
  
.spacer {
    flex: 1 1 auto; /* Deixa os itens nas extremidades */
}
  
.footer {
    display: flex; /* Exibe o footer como flex container */
    justify-content: space-between; /* Espaçamento entre os itens */
}
span{
font-size: 15px;
}