.example-spacer {
    flex: 1 1 auto;
  }
  mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    margin-right: 20px;
  }
  
  .spacer {
    flex: 1;
  }
  
  .search-bar {
    width: 50%;
    max-width: 600px;
  }
  
  button {
    margin-left: 10px;
  }
  
.header-green {
    background-color: #84a98c; /* Cor verde do Material Design */
    color: white; /* Cor do texto para contraste */
  }
  
mat-menu {
    font-size: 14px;
}
button, a {
    margin-left: 10px;
    color: rgb(10, 10, 10);
}
.image-container {
    text-align: center; /* Centraliza a imagem */
    margin: 20px 0; /* Adiciona espaço acima e abaixo da imagem */
  }
  
  .responsive-image {
    max-width: 100%; /* Garante que a imagem não exceda a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
  }
  